<div class="row">
  <div class="col-md-12">
    <h1><%= @user.email %> </h1>
    <p>You have published <%= @user.wikis.count %> wikis.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h1>Wikis</h1>
    <%= link_to "New Wiki", new_wiki_path, class:"btn btn-success" %>
    <% @user.wikis.each do |wiki| %>
    <h4><%= link_to wiki.title, wiki_path(wiki.id) %></h4>
    <% end %>
  </div>
</div>
