<div class=container-fluid>
  <div class="row">
    <div class="col-md-12">
      <h1>Welcome to Blocipedia</h1>
      <h5>Wikis are a great way to collaborate on community-sourced content. Whether the wiki is for a hobby or work-related project, create your own wikis and share them publicly or privately with other collaborators.
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="jumbotron">
        <%= render "devise/shared/sign_up" %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="jumbotron">
        <%= render "devise/shared/sign_in" %>
      </div>
    </div>
  </div>
</div>
